@page
@model NewtonLibraryManager.Pages.AddNewsModel
@{
    ViewData["Title"] = "Publicera nyhet";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");
}

@if(cookieValue1 == cookieComparerTrue) {
<div class="container text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" asp-page-handler="post" class="mt-3 d-flex align-items-center flex-column">
     <div class="mb-3 AltAutoWidth">
        <label for="neTitle" class="form-label"><b>Titel</b></label>
        <input type="text" asp-for="Title" class="form-control" id="neTitle" minlength="2" maxlength="100" data-val-length-min="2" data-val-length-max="100"/>
    </div>
    <div class="mb-3 AltAutoWidth">
        <label for="SelectedCategory" class="form-label"><b>Kategori</b></label>
        <select asp-for="SelectedCategory" asp-items="Model.Categories" class="form-select" name="SelectedCategory" id="SelectedCategory"></select>
    </div>
    <div class="mb-3 AltAutoWidth">
      <label for="contentTextArea" class="form-label"><b>Text</b></label>
      <textarea asp-for="Story" class="form-control" id="contentTextArea" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-custom">Lägg till</button>
    </form>
</div>
}
else {
    <p>Sidan är ej tillgänglig.</p>
}

@if(@Model.ShowModal)
{
    <div class="modal fade show" id="staticBackdrop" style="display: block;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">@Model.ModalBody</h5>
            <a class="btn-close" role="button" asp-page="/AddNews" asp-route-showModal="False"></a>
            </div>
            <div class="modal-body">
            @Model.ModalBody
            </div>
            <div class="modal-footer">
            <a class="btn btn-custom" role="button" asp-page="/AddNews" asp-route-showModal="False">Ok</a>
            <a class="btn btn-custom" role="button" asp-page="/Index">Gå till start</a>
            </div>
        </div>
        </div>
    </div>
}

@section Navigation {
        <nav class="navbar navbar-expand-xxl navbar-toggleable-xxl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xxl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Inventory">Alla produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/News">Nyheter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark active" asp-area="" asp-page="/AddNews" aria-current="page">Publicera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/DetermineAuthorCount">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användare</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}