@page
@model NewtonLibraryManager.Pages.AdminManagementModel
@{
    ViewData["Title"] = "Admin";
    string cookieValue = null;
    string cookieValue1 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
}
<div class="text-center">
@if (cookieValue == "1" && cookieValue1 == "True")
{
    <h1 class="display-4">Administrera administratörer</h1>

    <form method="post">
        <div class="container text-center mt-3 searchResults">
          <div class="row">
            <div class="col-4">
              <b>Förnamn</b>
            </div>
            <div class="col-4">
              <b>Efternamn</b>
            </div>
            <div class="col-4">
              <b>E-mail</b>
            </div>
          </div>
                @if (Model.Admins != null)
                {
                    @foreach (var admin in Model.Admins)
                    {
                        <a class="row" asp-page="./Product/@admin.Id">
                            <div class="col-4">
                                @admin.FirstName<input type="hidden" name="id" value="@admin.Id" />
                            </div>
                            <div class="col-4">
                                @admin.LastName
                            </div>
                            <div class="col-4">
                                @admin.EMail
                            </div>
                        </a>
                    }
                }
        </div>
    </form>
}
else
{
    <p>Sidan är ej tillgänglig.</p>
}
</div>



@section Navigation {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">NewtonLibraryManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sök</a>
                    </li>
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                    @if (cookieValue != null || cookieValue1 != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logga ut</a>
                    </li>
                    }
                    @if (cookieValue1 == "True") {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AddProduct">Lägg till produkt</a>
                    </li>
                    }
                    @if (cookieValue1 == "True" && cookieValue == "1") {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera adminkonton</a>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
}