@page
@model NewtonLibraryManager.Pages.AdminManagementModel
@{
    ViewData["Title"] = "Admin";
    var cookieValue = Request.Cookies["LibraryCookie"];
}
<div class="text-center">
@if (cookieValue == "1")
{
    <h1 class="display-4">Administrera administratörer</h1>

    <form method="post">
        <div class="container text-center mt-3 searchResults">
          <div class="row">
            <div class="col-4">
              <b>Förnamn</b>
            </div>
            <div class="col-4">
              <b>Efternamn</b>
            </div>
            <div class="col-4">
              <b>E-mail</b>
            </div>
          </div>
          @foreach (var admin in Model.Admins)
            {
            <a class="row" asp-page="./Product/@admin.Id">
                <div class="col-4">
                  @admin.FirstName<input type="hidden" name="id" value="@admin.Id" />
                </div>
                <div class="col-4">
                  @admin.LastName
                </div>
                <div class="col-4">
                  @admin.EMail
                </div>
            </a>
            }
        </div>
    </form>
}
else
{
    <p>Sidan är ej tillgänglig.</p>
}
</div>



