@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    string cookieValue = null;
    string cookieValue1 = null;
    string cookieValue2 = null;
    cookieValue = Request.Cookies["LibraryCookie"];
    cookieValue1 = Request.Cookies["LibraryCookie1"];
    cookieValue2 = Request.Cookies["LibraryCookie2"];
    string cookieComparer1 = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_1");
    string cookieComparerTrue = Models.SecurePasswordHasher.Hash("NewtonLibraryManager_True");

}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>

@section Navigation {
        <nav class="navbar navbar-expand-xxl navbar-toggleable-xxl navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/css/img/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" />
                <div class="d-inline-flex align-items-center ps-1">
                    <img src="/css/img/logo-newton.svg" alt="" width="77" height="16" /> 
                </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xxl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sök</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Inventory">Alla produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/News">Nyheter</a>
                    </li>
                    @if (cookieValue1 == cookieComparerTrue) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/DetermineAuthorCount">Lägg till produkt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserManagement">Hantera användarkonton</a>
                    </li>
                    }
                    @if (cookieValue1 == cookieComparerTrue && cookieValue == cookieComparer1) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AdminManagement">Hantera adminkonton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera användare</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Profile" asp-route-id="@cookieValue2">Profil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                    </li>
                    }
                    @if (cookieValue == null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logga in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Register">Registrera dig</a>
                    </li>
                    }
                    @if (cookieValue != null) {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logga ut</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}