@page
@model NewtonLibraryManager.Pages.ProductSearchModel
@{
    ViewData["Title"] = "Search";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form id="searchForm" class="mt-3 d-flex align-items-center flex-column">
        <div class="mb-3">
          <label for="searchISBN" class="form-label">ISBN</label>
          <input type="text" asp-for="Isbn" maxlength="13" class="form-control" id="searchISBN" placeholder="E.g. 9781329224278">
        </div>
        <div class="mb-3">
          <label for="searchAuthorFN" class="form-label">Author first name</label>
          <input type="text" asp-for="FirstName" maxlength="13" class="form-control" id="searchAuthorFN">
        </div>
        <div class="mb-3">
          <label for="searchAuthorLN" class="form-label">Author last name</label>
          <input type="text" asp-for="LastName" maxlength="13" class="form-control" id="searchAuthorLN">
        </div>

        <h5 class="mt-3 fw-light">Include...</h5>
        <div class="d-flex flex-row justify-content-center">
            <div class="form-check p-4">
              <input asp-for="IncludeBooks" class="form-check-input" type="checkbox" value="" id="checkboxBooks" checked>
              <label class="form-check-label" for="checkboxBooks">
                Books
              </label>
            </div>
            <div class="form-check p-4">
              <input asp-for="IncludeEbooks" class="form-check-input" type="checkbox" value="" id="checkboxEbooks">
              <label class="form-check-label" for="checkboxEbooks">
                E-books
              </label>
            </div>
            <div class="form-check p-4">
              <input asp-for="IncludeAudio" class="form-check-input" type="checkbox" value="" id="checkboxAudio">
              <label class="form-check-label" for="checkboxAudio">
                Audio books
              </label>
            </div>
        </div>

        <button type="submit" class="btn btn-custom">Search</button>
    </form>


</div>