@page
@model NewtonLibraryManager.Pages.RegisterModel
@{
    ViewData["Title"] = "Registrera dig";
    var cookieValue = Request.Cookies["LibraryCookie"];
}

<div class="text-center">
        <h1 class="display-4">Registrera dig</h1>
    <form id="registerForm" method="post" class="mt-3 d-flex align-items-center flex-column">
        <div class="mb-3 AltAutoWidth">
        <label for="registerFirstName" class="form-label">Förnamn</label>
        <input type="text" asp-for="FirstName" class="form-control" id="registerFirstName" minlength="2" maxlength="30" data-val-length-min="2" data-val-length-max="30" required/>
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerLastName" class="form-label">Efternamn</label>
        <input type="text" asp-for="LastName" class="form-control" id="registerLastName" minlength="2" maxlength="30" data-val-length-min="2" data-val-length-max="30" required>
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerEmail" class="form-label">Email adress</label>
        <input type="email" asp-for="EMail" class="form-control" id="registerEmail" aria-describedby="emailHelp2" maxlength="90" data-val-length-max="90" required>
        <div id="emailHelp2" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerPassword" class="form-label">Lösenord</label>
        <input type="password" asp-for="Password" class="form-control" id="registerPassword" minlength="8" data-val-length-min="8" required>
        </div>

        @if (cookieValue == "1")
        {
        <div class="form-check p-4 text-start w-auto">
            <input asp-for="IsAdmin" class="form-check-input" type="checkbox" value="" id="checkboxIsAdmin" />
            <label class="form-check-label" for="checkboxIsAdmin">
            Admin
            </label>
        </div>
        }

        <button type="submit" class="btn btn-custom">Registrera dig</button>
    </form>

</div>