@page
@model NewtonLibraryManager.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
        <h1 class="display-4">Register</h1>
    <form id="registerForm" method="post" class="mt-3 d-flex align-items-center flex-column">
        <div class="mb-3 AltAutoWidth">
        <label for="registerFirstName" class="form-label">First name</label>
        <input type="text" asp-for="FirstName" class="form-control" id="registerFirstName" maxlength="30" />
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerLastName" class="form-label">Last name</label>
        <input type="text" asp-for="LastName" class="form-control" id="registerLastName" maxlength="30">
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerEmail" class="form-label">Email address</label>
        <input type="email" asp-for="EMail" class="form-control" id="registerEmail" aria-describedby="emailHelp2" maxlength="90">
        <div id="emailHelp2" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 AltAutoWidth">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="registerPassword">
        </div>
        <div class="form-check p-4 text-start w-auto">
            <input asp-for="IsAdmin" class="form-check-input" type="checkbox" value="" id="checkboxIsAdmin" />
            <label class="form-check-label" for="checkboxIsAdmin">
            Admin
            </label>
        </div>
        <button type="submit" class="btn btn-custom">Register</button>
    </form>

</div>