html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f7f2ed;
}

.btn-custom {
    color: #fff;
    background-color: #004d6f;
    border-color: #004d6f;
}

.btn-custom:hover {
    color: #fff;
    background-color: #003349;
    border-color: #003349;
}

.btn-custom:focus + .btn-custom, .btn-custom:focus {
    color: #fff;
    background-color: #003349;
    border-color: #003349;
}

.beige-bg {
    background-color: #f7f2ed !important;
}

li.nav-item .nav-link.beige-bg {
    border-bottom: 1px solid #dee2e6;
}

li.nav-item .nav-link.beige-bg.active {
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid transparent;
}

form.d-flex div {
    width: 100%;
    display: block;
}

/*
@media (min-width: 576px) {
    input[type=text], input[type=email], input[type=password] {
        min-width: 20rem;
    }
}
*/

form.d-flex div.AltAutoWidth {
    width: 100%;
}

@media (min-width: 576px) {
    form.d-flex div.AltAutoWidth {
        width: 80%;
    }
}

@media (min-width: 768px) {
    form.d-flex div.AltAutoWidth {
        width: 65%;
    }
}

@media (min-width: 992px) {
    form.d-flex div.AltAutoWidth {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    form.d-flex div.AltAutoWidth {
        width: 33%;
    }
}

.nav-link {
    color: #004d6f;
}

.nav-link:focus, .nav-link:hover {
    color: #004361
}